*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*/build
*.class
/app/src/main/assets/index.android.bundle
/app/src/main/assets/index.android.bundle.meta
/app/src/main/res/**/node_modules_*
/app/src/main/res/**/app_img_*
./javademo
/javademo

#热更新相关
/app/robust/*